{
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    // enable additional rules
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    // override default options for rules from base configurations
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-cond-assign": [
      "error",
      "always"
    ],
    // disable rules from base configurations
    "no-console": "off",
    "no-inline-comments": 1
  },
  "plugins": [
    "jest"
  ],
  "globals": {
    "Promise": false
  }
}